<div id="main-container" >
  <div class="image-holder" [style.minWidth]="width">
    <div style="display: flex; flex-flow: row wrap; width: 100%; justify-content: center; align-items: center;">
      <select [ngModel]="size" name="select-size" (ngModelChange)="change_size($event)">
	<option [value]="index" *ngFor="let opt of sizes, index as index">{{opt[0]}}px x {{opt[1]}}px</option>
      </select>
      <select [ngModel]="fit" name="select-fit" (ngModelChange)="change_fit($event)">
	<option [value]="opt" *ngFor="let opt of fits">{{opt}}</option>
      </select>
    </div>
    <p style="margin: 20px auto; color: white;">Generated URL: {{src_url}}</p>
    <ngx-imageengine [wrapper_styles]="{width: width, height: height}" [derive_size]="true" [path]="image_path" [directives]="{format: 'jpg', fit: fit, compression: 10, sharpness: 15}" host="https://ie-custom-loader.cdn.imgeng.in/" [device_pixel_ratio]="true"></ngx-imageengine> 
  </div>
</div>
